<div class="register-team" id="register">

  <div class="container">

    <!--  <div class="row">
        <form (ngSubmit)="SubmitForm()" [formGroup]="teamForm">
          <input type="text" formControlName="name">
          <button type="submit">Submit</button>
        </form>
      </div>
      <div class="row">
        <img [src]="summoner?.profileIconUrl" class="img-fluid"
             style="width: 2rem; padding-right: 5px">
        <p>{{ summoner?.name }}</p>
      </div>-->

    <div class="row ml-1 mr-1">
      <div class="heading col-lg-10 col-md-12 col-sm-12 offset-lg-1">
        <h2>Регистрирай се в турнира на <em>LoL TP</em></h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12 offset-lg-2">
        <app-preloader *ngIf="false"></app-preloader>

        <div class="contact-form">
          <form (ngSubmit)="SubmitForm()" [formGroup]="teamForm">

            <div class="row">
              <div class="col-md-3 col-sm-12">
                <fieldset>
                  <input type="text" id="teamTag" placeholder="Tag на отбора" formControlName="teamTag">
                </fieldset>
              </div>
              <div class="col-md-9 col-sm-12">
                <fieldset>
                  <input type="text" id="teamName" placeholder="Име на отбора" formControlName="teamName">
                </fieldset>
              </div>
            </div>

            <div class="row" *ngFor="let a of [1,2,3,4,5]">
              <div class="col-md-6 col-sm-12">
                <fieldset>
                  <input type="text" id="name" placeholder="Собствено и фамилно име" formControlName="name">
                </fieldset>
              </div>
              <div class="col-md-6 col-sm-12">
                <fieldset>
                  <input type="text" id="email" placeholder="Име в играта" formControlName="email">
                </fieldset>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <fieldset>
                  <span class="textarea-helper">11</span>
                  <textarea rows="6" id="message" placeholder="Твоето съобщение" formControlName="message"></textarea>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" class="main-button mt-4" [disabled]="teamForm.invalid">Изпрати</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>

  </div>
</div>

<app-footer-small></app-footer-small>
