<div class="left-image-decor"></div>

<section class="section" id="about-us">
  <div class="container">
    <div class="row">
      <div class="left-image col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix-big">
        <img src="assets/images/left-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
      </div>
      <div class="right-text offset-lg-1 col-lg-6 col-md-12 col-sm-12 mobile-bottom-fix">
        <ul>
          <li>
            <img src="assets/images/about-icon-01.png" alt="">
            <div class="text">
              <h4 class="bulgarian">Какво е LOL TP</h4>
              <p>Ние сме много яки, защити LOL TP е най-добрият турнир по League of Legends в България.</p>
            </div>
          </li>
          <li>
            <img src="assets/images/about-icon-02.png" alt="">
            <div class="text">
              <h4 class="bulgarian">Какво е LOL TP</h4>
              <p>Ние сме много яки, защити LOL TP е най-добрият турнир по League of Legends в България.
                Ние сме много яки, защити LOL TP е най-добрият турнир по League of Legends в България.
                Ние сме много яки, защити LOL TP е най-добрият турнир по League of Legends в България.</p>
            </div>
          </li>
          <li>
            <img src="assets/images/about-icon-03.png" alt="">
            <div class="text">
              <h4 class="bulgarian">Какво е LOL TP</h4>
              <p>Ние сме много яки, защити LOL TP е най-добрият турнир по League of Legends в България.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
