.right-image-decor {
  background-image: url(../../../assets/images/right-bg-decor.png);
  background-repeat: no-repeat;
  background-position: right center;
  position: absolute;
  width: 100%;
  display: inline-block;
  height: 110%;
  margin-top: -200px;
}

section {
  padding-top: 100px;
  position: relative;
  z-index: 9;
}
