<div class="right-image-decor"></div>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="center-heading">
          <h2>Какво мислят хората <em>За Нас</em></h2>
          <p>Ние сме организаторите на турнита LoL TP. Нямаме търпение да се срещнем на живото предаване.
            Нямаме търпение да се срещнем на живото предаване.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-md-12 col-sm-12 mobile-bottom-fix-big">

        <app-feedback-profile [data]="{
          imageUrl: 'assets/images/testimonial-author-1.png',
          stars: 5,
          name: 'Васил Василев',
          title: 'Безработен',
          content: 'Много добър турнир. Много ми хареса. Продължавайте само така момчета.'
        }"></app-feedback-profile>

        <app-feedback-profile [data]="{
          imageUrl: 'assets/images/testimonial-author-1.png',
          stars: 3,
          name: 'SalamiGod',
          title: 'Silver 3',
          content: 'Къв тоз турнир само бронзари е. Яко ги бихме сички.'
        }"></app-feedback-profile>

      </div>
    </div>
  </div>
</section>
