<header class="header-area header-sticky" [ngClass]="{ 'background-header': !isTop }">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <a href="index.html" class="logo">LoL TP</a>

          <ul class="nav">
            <li class="scroll-to-section">
              <a href="#welcome" class="menu-item bulgarian">Начало</a>
            </li>
            <li class="scroll-to-section">
              <a href="#testimonials" class="menu-item bulgarian">Запиши се</a>
            </li>
            <li class="scroll-to-section">
              <a href="#about" class="menu-item bulgarian">За нас</a>
            </li>
            <li class="submenu">
              <a class="bulgarian">Медии</a>
              <ul>
                <li><a href="" class="menu-item">Facebook</a></li>
                <li><a href="" class="menu-item">Instagram</a></li>
                <li><a href="" class="menu-item">Twitch</a></li>
              </ul>
            </li>
            <li class="scroll-to-section">
              <a href="#contact-us" class="menu-item bulgarian">Задай въпрос</a>
            </li>
          </ul>

          <a class='menu-trigger'>
            <span>Menu</span>
          </a>

        </nav>
      </div>
    </div>
  </div>
</header>
