<section class="section" id="features">
  <div class="container">
    <div class="row">
      <app-card-feature class="col-lg-4 col-md-6 col-sm-12 col-xs-12" [data]="{
        backgroundText: '01',
        imageUrl: 'assets/images/features-icon-1.png',
        cardTitle: 'Регистрирай Отбор',
        buttonTitle: 'Регистрирай се',
        content: 'Събери своите приятелите и регистрирайте отбора си. Покажете, че сте най-добрите.',
        routerLink: ['/', 'register'],
        fragment: 'register'
      }"></app-card-feature>

      <app-card-feature class="col-lg-4 col-md-6 col-sm-12 col-xs-12" [data]="{
        backgroundText: '02',
        imageUrl: 'assets/images/features-icon-2.png',
        cardTitle: 'График на Мачовете',
        buttonTitle: 'Към графика',
        content: 'Следете графика на мачовете, за да знаете кой ще е следващият ви опонент, и да не изпуснете играта на любимия си отбор.',
        routerLink: ['/instagram'],
        fragment: ''
      }"></app-card-feature>

      <app-card-feature class="col-lg-4 col-md-6 col-sm-12 col-xs-12" [data]="{
        backgroundText: '03',
        imageUrl: 'assets/images/features-icon-3.png',
        cardTitle: 'Гледай на живо',
        buttonTitle: 'Започни да гледаш',
        content: 'Последвайте ни в twitch и гледайте мачовете на живо.',
        routerLink: ['/twitch'],
        fragment: ''
      }"></app-card-feature>

    </div>
  </div>
</section>
